* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
ol {
  list-style-type: none;
}
.total-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
}
.titlt {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
letter-spacing: 0.04em;
color: #2e2f42;
padding-bottom: 16px;
}
.categories-list {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
padding: 8px 315px 8px 16px;
}
.item {
  border-radius: 8px;
padding: 16px;
width: 392px;
height: 264px;
background: #f6f6fe;
}
.titlt-list {
  width: 360px;
  height: 184px;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}
.categories-list {
  width: 360px;
height: 40px;
box-sizing: border-box;
border: 1px solid #808080;
border-radius: 5px;

}



.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    gap: 24px;
      padding: 100px 156px 100px 156px;
    width: 1440px;
height: 848px;
justify-content: center;

  }
  
  .gallery-imges {
    width: 360px;
height: auto;
display: block;
object-fit: cover;

  }


  .gallery-item {
    flex: 1 1 calc(33.33% - 16px);
    box-sizing: border-box;
  }
  .task-3-container {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
border-radius: 8px;
padding: 24px;
width: 408px;
height: 136px;
background: #fff;
  }
 .main-input {
border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
 }
 .task-3-title {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;

line-height: 133%;
letter-spacing: 0.04em;
color: #2e2f42;
 }
 #placeholder {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
 }

 .login-form {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 360px;


 }
 .task-4-input {
  width: 360px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  }
 
  .login-form input[name="email"]
 .login-form input[name="password"] {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px; 
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
 }
.task-4-btn {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
background: #4e75ff;

font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
margin-top: 16px;
}
.task-4-btn:hover {
  background: #6c8cff;
}
.widget {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 10px;
border-radius: 8px;
padding: 100px 88px;
width: 345px;
height: 280px;
}
.color {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
}
.change-color {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 8px;
padding: 8px 16px;
width: 148px;
height: 40px;
background: #4e75ff;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;

line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}
.change-color:hover {
  background: #6c8cff;
}
.task-6-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}
.task-6-container input[type="number"] {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
border: 1px solid #808080;
border-radius: 8px;
padding: 8px 72px;
width: 150px;
height: 40px;
}
.task-6-container button[type="button"] {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 8px;
padding: 8px 16px;
width: 120px;
height: 40px;
background: #4e75ff;
}
.task-6-container button[data-destroy] {
  background: #ff4e4e;
}
#boxes {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 8px;
padding: 32px;
width: 486px;
height: 134px;
background: #f6f6fe;


}